@import "bootstrap";

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding-top: 100px;
    background-image:url('background.png');

}

input {
	width: 100px;
}

#title {

    text-align: center;

    #appname {
        font-family: 'Playfair Display', serif;
        font-size: 34px;
        font-style: italic; 
        font-weight: 900;
        margin-bottom: 12px;
        color: #444444;
    }

    #tagline {
        font-weight: 100; 
        font-size: 13px;
        color: #444444;
        margin-left: 5px;
    }


}

#form {

    margin-top: 60px;
    margin-bottom: 0px;
    padding: 30px;
    background-color: #F2D541;
    text-align: center;
    font-size: 24px; 

    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);

    input[type="text"] {
        line-height: normal;
        width: 220px;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 24px;

        padding: 10px;

        border: none;
        border-width: 0px; 
        border-radius: 5px;
        background-color: #FFF;

        margin: -4px 0px 0px 5px;

    }

    // override focus
    input:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
}


#facing-car {
    background-image:url('car.png');
    width: 90px; 
    height: 71px;
    margin: 50px auto;     
}

#trip-description {
    padding: 30px;
    background-color: #F2D541;
    font-weight: 300;
    font-size: 30px;

    p:not(:last-child){
        margin-bottom: 30px;
    }

    margin-bottom: 90px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);

}

// photos page
#trip-photos {
    padding-top: 140px;
    padding-bottom: 60px;
}

.stop-section {
    margin-bottom: 90px;
}

.no-image-gap {
    line-height: 0px;
}

.section-info {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;    
}

.image {
    width: 185px;
    height: 115px;
    display: inline-block;
    background-position: center; 
    margin-right: 1px;
    margin-bottom: 1px; 
}
