@import "bootstrap";

body {
    font-family: 'Roboto Slab', serif;
    font-size: 24px; 
    font-weight: 700;
}

input {
	width: 100px;
}

#form {

    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-3em;
    margin-left:-13em;

    div:not(:first-child) {
        margin-left: 308px;
        margin-top: 18px;        
    }

    input[type="text"] {
        line-height: normal;
        width: 230px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        font-size: 24px;

        padding: 10px;

        border: none;
        border-width: 0px; 
        border-radius: 5px;
        background-color: #EEE;

        margin: -4px 0px 0px 5px;

        color: #00A3D9;
    }

    // override focus
    input:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
}

#trip-header {
    background-color: #232323;
    color: #fff;

    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;

}

#trip-description {
    padding: 20px;

    div{
        font-size: 18px;
        font-weight: 300; 
    }

    a {
        color: #18b2ee;
    }

}

// photos page
#trip-photos {
    padding-top: 140px;
    padding-bottom: 60px;
}

.stop-section {
    margin-bottom: 90px;
}

.section-info {
    padding-bottom: 20px;
    font-size: 28px;
}

.image {
    width: 185px;
    height: 115px;
    display: inline-block;
    background-position: center; 
    margin-right: 1px;
}
